html, body {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: Arial;
}

.box-page-body {
    width: 1198px;
    margin: 0 auto;
    text-align: left;
}


#box-header {
    width: 100%;
    background: #fff;
    margin-bottom: 10px;
}


#box-breadcrump {
    width: 100%;
    background: #8eddff;
    margin-bottom: 10px;
}

#box-comunicate {
    width: 100%;
    background: #8eddff;
    margin-bottom: 10px;
}

#box-sidebar {
    float: right;
    width: 20%;
    max-width: 300px;
}

#box-footer {
    width: 100%;
    margin-top: 40px;
    background: #000913;
}

#box-body {
    margin-top: 40px;
    width: 100%;
}

#box-content {
    float: left;
    padding-right: 30px;
    box-sizing: border-box;
    width: 80%;
}

.box-clear-foot {
    width: 100%;
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
}

#box-top-bar {
    background: linear-gradient(90deg, rgba(0, 170, 253, 1) 0%, rgba(0, 114, 178, 1) 100%);
    padding: 15px 0;
    font-size: 15px;
    color: #fff;
    line-height: 30px;
}

#section-login-info {
    float: left;
    margin-left: 20px;
}

#section-logout {
    float: left;
    margin-left: 20px;
}

#section-change {
    float: left;
    margin-left: 20px;
}

#section-login {
    float: left;
    margin-left: 20px;
}

#section-register {
    float: left;
    margin-left: 20px;
}

#section-login-info span {
    font-weight: bold;
}

.button {
    border-radius: 3px;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    text-decoration: none;
    color: #fff;
}

.blue {
    background: #2167ff;
}

.align-right {
    float: right;
}

.align-left {
    float: left;
}

#box-logo {
    float: left;
    height: 100px;
    line-height: 100px;
}

#box-navigation {
    float: right;
    height: 100px;
    line-height: 100px;
}

#box-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#box-navigation ul li {
    display: inline-block;
}

#box-navigation ul li a {
    display: inline-block;
    height: 100%;
    color: #4f4f4f;
    text-decoration: none;
    margin-left: 30px;
}


a.logo {
    color: #4f4f4f;
    font-size: 52px;
    font-weight: bold;
    text-decoration: none;
}

.entry-author {
    float: left;
    margin-right: 10px;
}

.entry-info {
    font-size: 13px;
    color: #4f4f4f;
}

.entry-date {
    float: left;
    margin-right: 10px;
}

.entry-category {
    float: left;
    margin-right: 10px;
}

.entry-title {
    font-size: 32px;
    padding: 10px 0;
}

.entry-info div span {
    font-weight: bold;
}

.entry-image {
    float: left;
    width: 23%;
    margin-right: 2%;
}

.entry-content {
}

.entry-desc {
    width: 100%;
    padding: 15px 0;
    border-top: 2px solid #eeeeee;
    margin-bottom: 30px;
}

.entry-image img {
    width: 100%;
}

.sidebar-header {
    font-weight: bold;
    font-size: 17px;
    padding: 10px 0;
    border-bottom: 2px solid #eeeeee;
}

.sidebar-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar-content ul li {

}

.sidebar-content ul li a {
    color: #000;
    text-decoration: none;
    padding: 16px 0;
    border-bottom: 1px solid #eeeeee;
    display: block;
    width:  100%;
    position: relative;
}

.sidebar-content ul li a span {
    position: absolute;
    top: 50%;
    right: 0;
    height: 20px;
    margin-top: -10px;
    line-height: 20px;
    font-size: 10px;
    background: #d0f5ff;
    border-radius: 50px;
    padding: 0 7px;
}

#footer-note {
    padding: 30px 0;
    width: 100%;
    text-align: center;
    color: #ffffff;
}


#box-paginator {
    width: 100%;
}

#box-paginator div a {
    display: inline-block;
    height: 46px;
    width: 46px;
    margin-left: 5px;
    text-align: center;
    line-height: 46px;
    text-decoration: none;
    color: #4f4f4f;
    border: 1px solid #c8c8c8;
}

#box-paginator div a.active {
    color: #29506a !important;
    background: #8eddff;
    border: 1px solid #64bfff;
}